<ion-header>
  <ion-toolbar>
    <ion-title>FIFA World Cup 2022 </ion-title>
    <ion-buttons slot="end">
      <ion-label>Felix Kunjachan Lukose</ion-label>
      <ion-label>SID: 991716480</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="home-content">
    <img src="assets/images/fifa-cover.jpg" alt="World Cup Stadium" class="background-image">
    <div class="overlay">
      <ion-button expand="block" (click)="navigateTo('groups')" class="groups-button">GROUPS</ion-button>
      <ion-button expand="block" (click)="navigateTo('results')" class="results-button">RESULTS</ion-button>
    </div>
  </div>
</ion-content>

